.footer {
    border: 1px solid #ddd; 
    background-color:#A3249A;
    padding: 7px;
    bottom: 0;
   
}

.footer > h2{
 font-family: Georgia, 'Times New Roman', Times, serif;
 color:#edb4f0;
}

.fun {
    padding: 100px;
    flex: 1; 
    margin-left: 0%;
    width: 90%;
}