.footer {
    border: 1px solid #ddd; 
    background-color: #e347eb;
    padding: 7px;
    bottom: 0;
   
}

.footer > h2{
 font-family: Georgia, 'Times New Roman', Times, serif;
 color:#ffffff;
}

.fun {
    margin-top:50px;
    flex: 1; 
    margin-left: 0%;
    width: 100%;
}